body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header, footer{
  background-color:#627490;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}

section{
  margin:1%;
    padding:1%;
}
#hobbies{
		clear: both;
		text-align: center;
		width: 100%;
		display: block;
		margin-bottom: 5em;
		padding-bottom: 5em;
		border-bottom: 1px solid black;
	}
	#about
	{
		margin-bottom: 2em;
		padding-bottom: 3em;
		border-bottom: 1px solid black;
	}
header nav a{
	display:inline-block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
	/*width: 20%;*/
}
nav
{
	text-align: center;
}
h1,h2{
	text-align: center;
	color:rgba(255,0,0,.7);
	text-decoration: underline;
	font-family: "Comic Sans MS", "Lucida Console", Verdana;
}

img{
	display: inline-block;
}

footer{
	clear: both;
	text-align:center;
	margin-bottom: 0em;
}
footer a
{
	border-right: 1px solid black;
	padding-right: 1em;
	padding-left: 1em;
}
footer a:last-child
{
	border-right: 0;
}
footer nav
{
	padding-top: 0.75em;
}
table
{
	text-align: center;
	margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
 border: 1px solid black;
 width: 70%;
}

th
{
	border: 2px solid black;
}
tbody{
	/*width: 80px;*/
	height: 40px;
	vertical-align: top;
}
td
{
	border: 1px solid black;
	height: 2em;
	vertical-align:middle;
}
img{
	border: 1px solid black;
	border-radius: 50%;
	width: 75%;
    margin: 0% 2%;
}
#image
{
	display: inline-block;
    width: 30%;
}

@media screen and (min-width: 640px){
	img{
		display: inline-block;
		margin: 0% 2%;
	}
	#text{
		display: inline-block;
		float: right;
		margin-right: 2em;
		width: 60%;
	}
	.myclass{
		display: inline-block;
	}
}